<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<base href="/usr/src/app/digitalizacion/templates/pdf/">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="portada.css">

</head>
<body>
	<div class="container">
		<div class="container-fluid bg-primary">
			<div class="media">
				<div class="media-left">
					<img src="digital-blanco.png" class="media-object logo1">
				</div>
				<div class="media-body">
				</div>
				<div class="media-right">
					<img src="logoblancoynegro.png" class="media-object logo2">
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading bg-info">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-9">
						<h2 class="text-info"><span class="fa fa-graduation-cap fa-fw"></span>Tesis de Posgrado</h2>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-3 fondo"></div>
					<div class="col-xs-8">
						<div class="container-fluid primero">
							<h1 class="text-center text-info" style="">Página no digitalizada</h1>



							<h3 class="text-justify">Tipo de material: {{tipo}}</h3>
							<h3 class="text-justify">Alto: {{alto}}</h3>
							<h3 class="text-justify">Ancho: {{ancho}}</h3>
							<h3 class="text-justify">Descripción: {{descripcion}}</h3>


						</div>
						<hr/>
						<div class="container-fluid segundo">
							<p class="text-justify">Esta página no pudo ser digitalizada por tener características especiales. La misma puede ser vista en papel concurriendo en persona a la Biblioteca Central Dr. Luis Federico Leloir.</p>
							<p class="text-justify">This page could not be scanned because it did not fit in the scanner. You can see a paper copy in person in the Central Library Dr. Luis Federico Leloir.</p>
						</div>

					</div>
					<div class="col-xs-1"></div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="media">
					<div class="media-left">
						<img src="logoexactastext.png" class="media-object logo3">
					</div>
					<div class="media-body">
					</div>
					<div class="media-right">
						<img src="ubalogonuevo.png" class="media-object logo4">
					</div>
				</div>
				<div class="container-fluid bg-primary quinto">
					<div class="pull-left">
						<address><strong>Dirección:</strong> Biblioteca Central Dr. Luis F. Leloir, Facultad de Ciencias Exactas y Naturales, Universidad de Buenos Aires. <br/>Intendente Güiraldes 2160 - C1428EGA - <abbr title="Phone">Tel.</abbr> (++54 +11) 4789-9293
						</address>
					</div>
					<div class="pull-right">
						<address><strong>Contacto:</strong> <a class="bg-primary" href="mailto:digital@bl.fcen.uba.ar">digital@bl.fcen.uba.ar</a></address>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
