<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	{{base_path}}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="node_modules/jquery-textfill/source/jquery.textfill.min.js"></script>
	<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="portada.css">

</head>
<body>
	<div class="container">
		<div class="container-fluid bg-primary">
			<div class="media">
				<div class="media-left">
					<img src="digital-blanco.png" class="media-object logo1">
				</div>
				<div class="media-body">
				</div>
				<div class="media-right">
					<img src="logoblancoynegro.png" class="media-object logo2">
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading bg-info">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-9">
						<h2 class="text-info"><span class="fa fa-graduation-cap fa-fw"></span>{{metadata.Type}}</h2>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-3 fondo"></div>
					<div class="col-xs-8">
						<div class="container-fluid primero">
							<div id="container_titulo" style="height: 240px; width: 600px;">
								<h1 class="text-center text-info">{{metadata.Title}}</h1>
							</div>
							<h2 class="text-center">{{metadata.Creator}}</h2>
							<h3 class="text-center">{{metadata.Date_Created}}</h3>
							<br/>
							{# 
							<!--<h3 class="text-justify">Tesis presentada para obtener el grado de ??? de la Universidad de Buenos Aires</h3>-->
							#}
						</div>
						<hr/>
						<div class="container-fluid segundo">
							<p class="text-justify">Este documento forma parte de la colección de tesis doctorales y de maestría de la Biblioteca Central Dr. Luis Federico Leloir, disponible en <a href="http://digital.bl.fcen.uba.ar">digital.bl.fcen.uba.ar</a>. Su utilización debe ser acompañada por la cita bibliográfica con reconocimiento de la fuente.</p>
							<p class="text-justify">This document is part of the doctoral theses collection of the Central Library Dr. Luis Federico Leloir, available in <a href="http://digital.bl.fcen.uba.ar">digital.bl.fcen.uba.ar</a>. It should be used accompanied by the corresponding citation acknowledging the source.</p>
						</div>
						<div class="container-fluid tercero">
							<p>
							<div class="borde"><span class="text-success">Cita tipo APA:</span><br/>
							<div id="cita-apa" style="height: 75px; width: 600px;"><span>
							{{metadata.Creator}}. ({{metadata.Date_Created}}). {{metadata.Title}}. Facultad de Ciencias Exactas y Naturales. Universidad de Buenos Aires. <a class="text-muted" href="{{metadata.Identifier_URL}}">{{metadata.Identifier_URL}}</a></span></div></div></p>
							<p>
							<div class="borde"><span class="text-success">Cita tipo Chicago:</span><br/>
							<div id="cita-chicago" style="height: 75px; width: 600px;"><span>
							{{metadata.Creator}}. "{{metadata.Title}}". Facultad de Ciencias Exactas y Naturales. Universidad de Buenos Aires. {{metadata.Date_Created}}. <a class="text-muted" href="{{metadata.Identifier_URL}}">{{metadata.Identifier_URL}}</a></span></div></div></p>
						</div>
					</div>
					<div class="col-xs-1"></div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="media">
					<div class="media-left">
						<img src="logoexactastext.png" class="media-object logo3">
					</div>
					<div class="media-body">
					</div>
					<div class="media-right">
						<img src="ubalogonuevo.png" class="media-object logo4">
					</div>
				</div>
				<div class="container-fluid bg-primary quinto">
					<div class="pull-left">
						<address><strong>Dirección:</strong> Biblioteca Central Dr. Luis F. Leloir, Facultad de Ciencias Exactas y Naturales, Universidad de Buenos Aires. <br/>Intendente Güiraldes 2160 - C1428EGA - <abbr title="Phone">Tel.</abbr> (++54 +11) 4789-9293
						</address>
					</div>
					<div class="pull-right">
						<address><strong>Contacto:</strong> <a class="bg-primary" href="mailto:digital@bl.fcen.uba.ar">digital@bl.fcen.uba.ar</a></address>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function() {
	    	$('#container_titulo').textfill({
	        	maxFontPixels: 36,
	        	innerTag: 'h1',
	    	});
		});
		$(function() {
	    	$('#cita-apa').textfill({
	        	maxFontPixels: 16,
	        	// minFontPixels: 1,
	    	});
		});
		$(function() {
	    	$('#cita-chicago').textfill({
	        	maxFontPixels: 16,
	        	// minFontPixels: 1,
	    	});
		});
	</script>
</body>
</html>
