.panel-heading h2 {
    margin-top: 7px;
    margin-bottom: 7px;
}
body {font-family: 'Slabo 27px', serif;}
p {font-family: 'Roboto', sans-serif;}
h1 {font-weight: bold;}

.borde {
	border-left: 2px solid #5cb85c;
	margin-left: 20px;
	padding-left: 10px;
	font-size: 90%;
}
.fondo {
	background-image: url("dibus-250.png");
	background-repeat: repeat-y;
	min-height: 1000px;
	opacity: 0.2;
}

.primero{margin-top: 40px;}
.segundo{margin-top: 60px;}
.tercero{margin-top: 40px;}
/* .cuarto {margin-top: 200px;} */
.quinto {margin: 0 -15px -10px -15px; padding-top: 5px;}
.logo1{width:200px; margin: 28px 0 28px 30px;}
.logo2{width:250px; margin: 28px 30px 28px 0;}
.logo3{width:350px; margin: 10px 0 0 30px;}
.logo4{width:375px; margin: -5px 30px 0 10px;}

